<ion-header>
  <ion-navbar color="primary">
    <ion-title>Phone Details</ion-title>
    <ion-buttons end>
      <button navPush="ShoppingCartPage" ion-button icon-only>
        <ion-icon name="cart"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3 text-center font-size-large *ngIf="selectedPhone">
    {{selectedPhone.model}}
  </h3>
  <ion-list>
    <ion-list-header>
      {{selectedPhone.model}} Information
    </ion-list-header>
    <h5 ion-item class="manufacture">
      Manufacture: {{selectedPhone.manufacture}}
    </h5>
    <h5 ion-item class="serial">
      Serial #: {{selectedPhone.serialNumber}}
    </h5>
    <h5 ion-item class="introYear">
      Introduce in: {{selectedPhone.introYear}}
    </h5>
  </ion-list>
  <ion-list>
    <ion-list-header>
      Features:
    </ion-list-header>
    <h6 ion-item *ngFor="let feature of selectedPhone.features">
      {{feature}}
    </h6>
  </ion-list>
  <h2 font-size-large text-center class="price">
    Price: ${{selectedPhone.price}}
  </h2>
  <button ion-button block color="secondary" (click)="addToCart()">
    Add To Cart
  </button>
</ion-content>
